{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='hero' style="background-image: url('https://design-homes.ru/images/galery/2274/vyushchiesya-komnatnye-rasteniya_5eea219ca8fae.jpg');height: auto">
   <div class='hero_2' style="margin-top: 100px; width: 50%; margin-left: 25%;">
  	<div class="media" style="text-align: center;justify-content: center">
    	<img class="rounded-circle account-img" style="width: 18%;margin-left: 5%" alt="" src="{{ user.profile.photo.url }}">
    	<div class="media-body">
      	<h2 class="account-heading" style="font-size: 10mm">{{ user.username }}</h2>
    	</div>
  	</div>
  <form method="POST" enctype="multipart/form-data" style="margin-left: 5%; width: 70%;height: auto">
      	{% csrf_token %}
      	<fieldset class="form-group">
          	<legend class="border-bottom mb-4">Edit information</legend>
          	{{ u_form|crispy }}
              {{ p_form|crispy }}
      	</fieldset>
      	<div class="form-group" style="text-align: center">
          	<button class="btn btn-outline-dark" type="submit">Update</button>
      	</div>
  	</form>
    </div>
    </div>
{% endblock content %}