{% extends 'base.html' %}

{% block content %}
      <div class='hero' style="background-image: url('https://ru.s.bekhost.com/bekker-ru/uploads/files/uhod_za_komnatnymi/uhod_za_komnatnymi_01.jpg')">
      <div class="p-4 p-md-5 mb-4 rounded text-bg-dark" style="background-color: #c2d0cb;width: 60%; margin-left: 20%;margin-top: 150px;">
    <main class="px-3" style="width: 80%;margin-left: 10%;">
<h1>Sorry, we cannot accept such a large number of items.
    Please reduce the number of items or try again later</h1>
  </main>
      </div>
    </div>
{% endblock %}

