{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='hero' style="background-image: url('https://design-homes.ru/images/galery/2274/vyushchiesya-komnatnye-rasteniya_5eea219ca8fae.jpg');">
        <div class='hero_2' style="text-align: center;">
            <h5 style="margin-top: 20px;">Thank you for your request № {{request_id}}</h5>
            <h5>Our experts will contact you</h5>
            <p><a href="/">Return main</a></p>
        </div>
    </div>
{% endblock %}