{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class='hero' style="background-image: url('https://images.pexels.com/photos/1166641/pexels-photo-1166641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');background-attachment: scroll; height: auto">
        <div class='hero_2'>
            <form method="POST" style="width: 100%;" enctype="multipart/form-data">
                {% csrf_token %}
                    <div style="display:block; float:left; border:1px solid black;margin: 7px;margin-left: 5%;"><h1 style="font: small-caps bold 24px/1 sans-serif;text-align: center">Plants</h1>
                       {{ care_form.management_form }}
                        {{ care_form|crispy }}
                    </div>
            </form>
        </div>
    </div>
{% endblock %}