{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class='hero' style="background-image: url('https://images.pexels.com/photos/6843669/pexels-photo-6843669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');position: absolute;
align-content: center; background-attachment: scroll; height: auto">
        <div style="background-color: #eeeeee;position:relative;width: 60%; margin-top: 200px;margin-left: 20%;border-radius: inherit;">
            <form method="POST" style="width: 50%; font-family: Courier,monospace; margin-left: 25%;" action="{% url 'request_success' %}" enctype="multipart/form-data">
                {% csrf_token %}
                    <div style="border:1px solid black; margin: 7px;">
                       {{ thing_form.management_form }}
                        {% for form_t in thing_form %}
                            <h1  style="font: italic small-caps bold 22px/2 cursive;"> Thing № - {{ forloop.counter }}</h1>
                                            {{ form_t|crispy}}
                        {% endfor %}
                    </div>
                <div>
                    <button type="submit" class="btn btn-primary" style="width: 20rem;" >Request</button>
                </div>
            </form>
            </div>
         </div>
{% endblock %}