{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class='hero' style="background-image: url('https://images.pexels.com/photos/6843669/pexels-photo-6843669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');position: absolute;
align-content: center; background-attachment: scroll; height: auto">
        <div style="background-color: #eeeeee;position:relative;width: 60%; margin-top: 200px;margin-left: 20%;border-radius: inherit">
            <div style="width:85%;display:block; float:left; border:1px solid black;margin: 7px; ">
                {% for thing in request_list %}
                    <h5  style="font-family: Courier,monospace; color: black"> {{ thing.name}} - {{ thing.total }} pcs</h5>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}