{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class='hero' style="background-image: url('https://images.pexels.com/photos/1166641/pexels-photo-1166641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
background-attachment: scroll; height: auto">
        <div class='hero_2'>
            <form method="POST" style="width: 100%;" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container" style="overflow:hidden">
                    <div class="box" style="white-space:nowrap">
                        <div style="width:45%;display:block; float:left; border:1px solid black;margin: 7px;margin-left: 5%;"><h3>Plants</h3>
                        {{ plants_form.management_form }}
                        {% for form_p in plants_form %}
                            <h4  style="font: italic small-caps bold 20px/2 cursive;"> Plants № - {{ forloop.counter }}</h4>
                                {{ form_p|crispy}}
                                {% if form_p.nested %}
                                    {{ form_p.nested.management_form }}
                                    {{ form_p.nested.non_form_errors }}
                                    {% for nested_form in form_p.nested.forms %}
                                        {{ nested_form|crispy }}
                                    {% endfor %}
                                {% endif %}
                        {% endfor %}
                        </div>
                <div style="width:45%;display:block;border:1px solid black; float:left; margin: 7px">
                    <h3>Tools</h3>
                    {{ tools_form.management_form }}
                    {% for form_t in tools_form %}
                            <h4  style="font: italic small-caps bold 20px/2 cursive;"> Tool № - {{ forloop.counter }}</h4>
                            {{ form_t|crispy }}
                    {% endfor %}
                </div></div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" style="width: 20rem;" >Update</button></div>
            </form>
        </div>
    </div>
{% endblock %}