{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='hero' style="background-image: url('https://design-homes.ru/images/galery/2274/vyushchiesya-komnatnye-rasteniya_5eea219ca8fae.jpg');position: absolute;
align-content: center">
    <div style="background-color: #a5c4b9;position:relative;width: 70%; margin-top: 90px;margin-left: 15%;border-radius: inherit">
    <h5 style="text-align: center; margin-top: 20px;">Thank you for your donate № {{share_id.id}}</h5>
    <p style="text-align: center; margin-top: 20px;">
    <a href="/">Return main</a>
    </p>
    </div>
    </div>
{% endblock %}