{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

<div class='hero' style="background-image: url('https://images.pexels.com/photos/6843669/pexels-photo-6843669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
background-attachment: scroll;height: auto;">
        <div class="list" id="featured-3" style="width: auto; margin-top: 100px; margin-left: 5%;display: flex;
        flex-wrap: wrap; ">
            <div class="col-lg-9 mx-auto">
			    <div class="row mx-auto" style="margin-top: 90px">
                 {% for thing in things %}
                      <div class="card mx-auto mb-3" style=" width: 15rem;">
                              <img class="card-img-top" src='{{thing.photo.url}}'  alt=''>
                              <div class="card-body" style="font-size: 1.3rem;text-align: center;height: auto">
                                <a href="{% url 'tool_detail' thing.id%}" style="color: black">{{ thing.name}}</a>
                              </div>
                          <div class="card-footer p-0 no-gutters">
                             <div class="card-footer p-0 no-gutters">
                                  <a href="{% url 'cart_add' thing.id %}">Add To Cart</a>
                            </div>
                          </div>
                      </div>
                 {% endfor %}
                </div>
            </div>
        </div>
</div>
{% endblock %}