{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class='hero' style="background-image: url('https://images.pexels.com/photos/6843669/pexels-photo-6843669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
 background-attachment: scroll">
            <div class='hero_2'>
               <div class="container bootdey" style="width: 80%; margin-left: 20%;">
                     <h4>You have applied for these products:</h4>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <div class="col-lg-12 col-sm-12 hero-feature">
                                <div class="table-responsive">
                                    <table class="table table-bordered tbl-cart" style="color: black">
                                        <tr>
                                            <td class="hidden-xs">Name</td>
                                            <td>Amount</td>
                                            <td class="td-qty">Date</td>
                                        </tr>
                                        <tbody>
                                        <tr>
                                            {% for item in requested_items %}
                                                <td>{{item.name}}</td>
                                                <td>{{item.amount}}</td>
                                                <td>{{item.request_id.date|date}}</td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                   {% if shipped_items %}
                       <h4>Shipped items:</h4>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <div class="col-lg-12 col-sm-12 hero-feature">
                                <div class="table-responsive">
                                    <table class="table table-bordered tbl-cart">
                                    <thead>
                                    <tr>
                                        <td class="hidden-xs">Name</td>
                                        <td>Amount</td>
                                        <td class="td-qty">Date</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    {% for item in shipped_items %}
                                        <td>{{item.name}}</td>
                                        <td>{{item.amount}}</td>
                                        <td>{{item.request_id.date|date}}</td>
                                    {% endfor %}
                                    </tr>
                                    </tbody>
                    {% endif %}
                        </table>
                   </div>
                   </div>
                   </div>
               </div>
            </div>
    </div>
    </div>
{% endblock %}